@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}
.zoom-out-animation {
  transform: scale(5.5);
  /* backdrop-filter: blur(30px); */
}

.normal-size {
  transform: scale(5.5); /* Initial size */
  /* backdrop-filter: blur(30px) !important; */
  animation: zoomOutAnimation 0.5s ease-in-out forwards;
}

@keyframes zoomOutAnimation {
  0% {
    transform: scale(5.5);
    backdrop-filter: blur(30px) !important;
  }

  100% {
    transform: scale(1);
    backdrop-filter: blur(0px) !important;
  }
}

.blur {
  backdrop-filter: blur(30px) !important;
}

.grad1{
  background: rgb(49,67,81);
  background: linear-gradient(0deg, rgba(49,67,81,1) 22%, rgba(54,72,85,1) 40%, rgba(71,84,93,1) 56%, rgba(98,113,124,1) 79%); 
}

/* Add your other styles
.active-card {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.swiping-left {
  transform: translateX(-100%);
}

.swiping-right {
  transform: translateX(100%);
} */

.bgNoti{
  background-color: rgba(247, 247, 247, 0.123);
  backdrop-filter: blur(30px) !important;
}

.backBG {
  background-color: rgba(247, 247, 247, 0.123);
  backdrop-filter: blur(30px) !important;
  -webkit-backdrop-filter: blur(30px) !important;
  opacity: 0; /* Set initial opacity to 0 */
  animation: fadeIn 1s ease-in-out forwards; /* Use a fadeIn animation with a duration of 1 second */

  /* Optionally, you can add other transition properties like transition-delay */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}