@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.zoom-out-animation {
  transform: scale(5.5);
  backdrop-filter: blur(30px); /* Larger before zooming out, adjust as needed */
}

.normal-size {
  transform: scale(5.5); /* Initial size */
  backdrop-filter: blur(30px) !important;
  animation: zoomOutAnimation 0.5s ease-in-out forwards;
}

@keyframes zoomOutAnimation {
  0% {
    transform: scale(5.5);
    backdrop-filter: blur(30px) !important;
  }

  100% {
    transform: scale(1);
    backdrop-filter: blur(0px) !important;
  }
}

.blur {
  backdrop-filter: blur(30px) !important;
}

.grad1{
  background: rgb(49,67,81);
  background: linear-gradient(0deg, rgba(49,67,81,1) 22%, rgba(54,72,85,1) 40%, rgba(71,84,93,1) 56%, rgba(98,113,124,1) 79%); 
}