@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}
.zoom-out-animation {
  transform: scale(5.5);
  /* backdrop-filter: blur(30px); */
}

.normal-size {
  transform: scale(5.5); /* Initial size */
  /* backdrop-filter: blur(30px) !important; */
  animation: zoomOutAnimation 0.5s ease-in-out forwards;
}

@keyframes zoomOutAnimation {
  0% {
    transform: scale(5.5);
    backdrop-filter: blur(30px) !important;
  }

  100% {
    transform: scale(1);
    backdrop-filter: blur(0px) !important;
  }
}

.blur {
  backdrop-filter: blur(30px) !important;
}

.grad1{
  background: rgb(49,67,81);
  background: linear-gradient(0deg, rgba(49,67,81,1) 22%, rgba(54,72,85,1) 40%, rgba(71,84,93,1) 56%, rgba(98,113,124,1) 79%); 
}

/* Add your other styles
.active-card {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.swiping-left {
  transform: translateX(-100%);
}

.swiping-right {
  transform: translateX(100%);
} */

.bgNoti{
  background-color: rgba(247, 247, 247, 0.123);
  backdrop-filter: blur(30px) !important;
}

.backBG {
  background-color: rgba(247, 247, 247, 0.123);
  backdrop-filter: blur(30px) !important;
  -webkit-backdrop-filter: blur(30px) !important;
  opacity: 0; /* Set initial opacity to 0 */
  display: flex !important;
  justify-content: end;
  align-items: center;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 999;
  animation: fadeIn 1s ease-in-out forwards; /* Use a fadeIn animation with a duration of 1 second */
  /* Optionally, you can add other transition properties like transition-delay */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
    display: flex !important;
  }
  to {
    opacity: 1; /* End with opacity 1 */
    display: flex !important;
  }
}

.frontBG {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 999;
  animation: fadeOut 1s ease-in-out forwards; /* Use a fadeOut animation with a duration of 1 second */
}

@keyframes fadeOut {
  from {
    opacity: 1;
    display: flex;
  }
  to {
    opacity: 0;
    display: none;
  }
}

/* SliderComponent.css */

/* .slider-container {
  margin: 20px;
} */

.vertical-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.vertical-slider {
  transform: rotate(90deg);
  transform-origin: bottom;
}

.custom-slider {
  background-color: #00000097; /* Set the background color of the slider track */
  border: none; /* Remove the default border of the slider */
  outline: none; /* Remove the default focus outline */
  border-radius: 16px;
  /* position: absolute !important; */
}

.custom-slider::-webkit-slider-thumb {
  /* Customize the appearance of the slider thumb in WebKit browsers (Chrome, Safari) */
  -webkit-appearance: none;
  width: 0px; /* Set the width of the slider thumb */
  height: 0px; /* Set the height of the slider thumb */
  background-color: #3498db; /* Set the background color of the slider thumb */
  border: 0px solid #ffffff; /* Add a border to the slider thumb */
  border-radius: 50%; /* Create a circular slider thumb */
  cursor: pointer; /* Change the cursor on hover */
  display: none !important;
}

.custom-slider::-moz-range-thumb {
  /* Customize the appearance of the slider thumb in Mozilla browsers (Firefox) */
  width: 0px;
  height: 0px;
  background-color: #3498db;
  border: 0px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  display: none !important;
}
